#header
  #logo
    h1
      a(href="#") MonExpo.com
  #menu
    ul
      li#accueil.current_page_item
        a(href="#") Accueil
      li#blog
        a(href="#") Blog
      li#galerie
        a(href="#") Photos
      li#apropos
        a(href="#") À propos
      li#contact
        a(href="#") Contact
    #aide
