doctype html
html
  head
    meta(charset='utf-8')
    title Mon expo photo
    link(rel='stylesheet', href='./styles/style.css')
  body
    include ./partials/header
    include ./partials/poptrox
    include ./partials/page
    include ./partials/footer
    script(src='scripts/index.js')
